In [1]:
import pandas as pd
from blp import blp
import json
bquery = blp.BlpQuery().start()

In [3]:

bquery.bdh(
    ["CO1 Comdty"],
    [ "PX_OPEN",
        "PX_HIGH",
        "PX_LOW",
        "PX_LAST",
        "PX_VOLUME",
        "OPEN_INT",],
    start_date="19930101",
    end_date="19950101",
)

,date,security,PX_OPEN,PX_HIGH,PX_LOW,PX_LAST,PX_VOLUME,OPEN_INT
0,1993-01-04,CO1 Comdty,18.20,18.21,17.78,17.79,26243.0,43843.0
1,1993-01-05,CO1 Comdty,17.70,17.99,17.70,17.97,23358.0,47932.0
2,1993-01-06,CO1 Comdty,17.75,17.84,17.64,17.75,20030.0,44706.0
3,1993-01-07,CO1 Comdty,17.75,17.88,17.55,17.58,21606.0,38526.0
4,1993-01-08,CO1 Comdty,17.54,17.75,17.47,17.48,21259.0,37645.0
...,...,...,...,...,...,...,...,...
509,1994-12-22,CO1 Comdty,15.95,16.02,15.90,15.95,5766.0,89971.0
510,1994-12-23,CO1 Comdty,15.95,15.97,15.91,15.92,22895.0,87342.0
511,1994-12-28,CO1 Comdty,16.25,16.60,16.20,16.42,20271.0,89850.0
512,1994-12-29,CO1 Comdty,16.49,16.59,16.40,16.42,7245.0,87246.0
513,1994-12-30,CO1 Comdty,16.44,16.53,16.44,16.50,25997.0,84342.0

In [ ]:
bquery.stop()